.test{
    margin: 40px;
}
.container{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 40rem;
    // width: 100%;
    background-color: rgba($color: #ecdede, $alpha: 1.0);
    &_small{
        background-color: rgba(85, 91, 103, 0.167);
        // margin: 8rem;
        height: 40rem;
        padding: 3rem 5rem;
        min-height: max-content;
        // max-height: fit-content;
        width: 60%;
        min-width: 50rem;
        border-radius: 10px;
        // display:flex;
        // align-items: center;
        // justify-content: center;
        // background-color:#fff;
        box-shadow: 0px  0px 50px 15px rgba(0, 0, 0, 0.829);
    }
  
}